{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Lens</h1>
    <p class="lead">Lens is an artist currently based in Spokane, WA, doing everything from Publishing Tracks on <a href="https://open.spotify.com/artist/0XZaLnVbuh6TvIWbRdGRfb?si=H9_NNh1HTxCU1dPx5JCDiw" target="_blank">Spotify</a> to Wiring Circuits with Microcontrollers and Integrated Chips. Are you along for the ride?</p>
    <p><a href="about/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Music</h2>
        <p>
            I am an Independant Artist, Publishing all my records myself. Click below to check it out!!!
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Games</h2>
        <p>I make games, too! I tend to make all my assets from scratch because I am stubborn that way. Go check out some games I've published at Itch.io if you are interested!</p>
        <p><a class="btn btn-default" href="https://lensplaysgames.itch.io/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coding</h2>
        <p>I code everything from Standalone GUI Applications <small>(a text editor, for example)</small>, Machine Learning Programs, Lottery Number Generators, and much, much more. Check out my Git Repo with my coding projects if you're interested!</p>
        <p><a class="btn btn-default" href="https://github.com/LensPlaysGames/Coding-Projects" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
